.router-animate-enter-active {
    animation: coming 1s;
    animation-delay: 0.5s;
    opacity: 0;
}

.router-animate-leave-active {
    animation: going 1s;
}

@keyframes going {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes coming {
    from {
        transform: translateX(50);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
