$color-primary: #1773ee;
$color-success: #66bb6a;
$color-error: #e75650;
$color-warning: #ffc82c;
$color-info: #9dd1f1;
$color-grey: #f4f4f4;
$white: #fff;
$black: #000;

$text-color: #484746;
$bg-color: #f8f8f8;
$primary: #039be5;
$secondary: #6c5dd3;
$error: #ff5252;
$border-radius: 2px;

$font-family: Helvetica, sans-serif;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

$border-color: #f2f2f2;

$tablet: 640px;
$desktop: 1024px;
