@import "~roboto-fontface/css/roboto/roboto-fontface.css";
// Variables
@import "variables";

@import "./mixins/responsive";

@import "animations_router";
@import "animations_item";
@import "dropzone";
@import "spinner";
@import "helpers";
@import "spacing";
@import "alert";
@import "bg";

@import "button";
@import "color-text";
@import "./form/input";

// content
@import "./content/auth";
@import "./content/header-page";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
