.router-animate-enter-active {
  -webkit-animation: coming 1s;
          animation: coming 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

.router-animate-leave-active {
  -webkit-animation: going 1s;
          animation: going 1s;
}

@-webkit-keyframes going {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes going {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

@-webkit-keyframes coming {
  from {
    -webkit-transform: translateX(50);
            transform: translateX(50);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes coming {
  from {
    -webkit-transform: translateX(50);
            transform: translateX(50);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.dropzone {
  min-height: 200px;
  padding: 10px 10px;
  width: 100%;
  position: relative;
  cursor: pointer;
  border: 1px solid #cecece;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropzone .input-file {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 200px;
}

.dropzone .call-to-action {
  font-size: 1.2rem;
  text-align: center;
}

.spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

