.auth__wrapper {
    height: 100vh;
    display: flex;
    .auth__content {
        display: none;
    }
    .auth__form {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        margin-top: 4rem;
        // height: 100%;
        // padding: 4rem;
        img {
            margin-bottom: 2rem;
            text-align: center;
        }
        h4 {
            font-size: 1.7rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        form {
            width: 300px;
            label {
                font-size: 14px;
            }
            .auth__actions {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

@include tablet {
    .auth__wrapper {
        .auth__content {
            display: none;
        }
    }
}
@include desktop {
    .auth__wrapper {
        .auth__content {
            display: flex;
            width: 35%;
            background: $color-primary;
            padding: 2rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                color: $white;
                margin-bottom: 10px;
                width: 80%;
                font-size: 42px;
            }
            p {
                font-size: 14px;
                color: rgba($white, $alpha: 0.8);
                text-align: left;
                width: 80%;
            }
            img {
                width: 288px;
            }
        }
    }
}
